.ideMain{
    background-color: #33AABB;
    color: #000000;

    font-family: Helvetica;
    font-weight: bold;

    border: solid;
    border-color: #000000;
    border-radius: 45px;

    text-align: center;
}

.buttonRed{
    background-color: #000000;
    color: #FF0000;

    font-family: Arial;
    font-style: italic;
    font-weight: bold;

    border-radius: 25px;
}

.buttonGreen{
    background-color: #000000;
    color: #32cd32;

    font-family: Arial;
    font-style: italic;
    font-weight: bold;

    border-radius: 25px;
}

.buttonBlue{
    background-color: #000000;
    color: #0000FF;

    font-family: Arial;
    font-style: italic;
    font-weight: bold;

    border-radius: 25px;
}

.buttonYellow{
    background-color: #000000;
    color: #FFFF00;

    font-family: Arial;
    font-style: italic;
    font-weight: bold;

    border-radius: 25px;
}

.buttonOrange{
    background-color: #000000;
    color: #FF7700;

    font-family: Arial;
    font-style: italic;
    font-weight: bold;

    border-radius: 25px;
}

.flexContainer{
    display: flex;
    flex-direction: row-reverse;
}

.flexItem{
    border: solid;
    flex: 0 1 auto;
}