.ideMain{
    background-color: #33AABB;
    color: #000000;

    font-family: Helvetica;
    font-weight: bold;

    display: grid;
}

.buttonRed{
    background-color: #000000;
    color: #FF0000;

    font-family: Arial;
    font-style: italic;
    font-weight: bold;

    border-radius: 25px;
}

.buttonGreen{
    background-color: #000000;
    color: #32cd32;

    font-family: Arial;
    font-style: italic;
    font-weight: bold;

    border-radius: 25px;
}