header{
    background-color: #33AABB;
    color: #000000;

    font-family: Helvetica;
    font-weight: bold;

    border: solid;
    border-color: #000000;
    border-radius: 5px;

    text-align: center;
    margin: auto;
    width: 450px;
}

main{
    background-color: #33AABB;
    color: #000000;

    font-family: Helvetica;
    font-weight: bold;

    border: solid;
    border-color: #000000;
    border-radius: 5px;

    text-align: center;
    margin: auto;
    width: 450px;
}

.fontPuzzle{
    font-family: Helvetica;
    font-style: italic;
}

main ol{
    margin: auto;
    width: 150px;
}

/*Button code.*/
main button.button-red{
    background-color: #000000;
    color: #FF0000;

    font-family: Arial;
    font-style: italic;
    font-weight: bold;
}

main button.button-red:active{
    color: #770000;
}

main button.button-green{
    background-color: #000000;
    color: #32cd32;

    font-family: Arial;
    font-style: italic;
    font-weight: bold;
}

main button.button-green:active{
     color: #007700;
}

main button.button-blue{
    background-color: #000000;
    color: #0000FF;

    font-family: Arial;
    font-style: italic;
    font-weight: bold;
}

main button.button-blue:active{
    color: #000077;
}

main button.button-yellow{
    background-color: #000000;
    color: #FFFF00;

    font-family: Arial;
    font-style: italic;
    font-weight: bold;
}

main button.button-yellow:active{
    color: #777700;
}
main button.button-orange{
    background-color: #000000;
    color: #FF7700;

    font-family: Arial;
    font-style: italic;
    font-weight: bold;
}

main button.button-orange:active{
    color: #993300;
}

input.button-green{
    background-color: #000000;
    color: #32cd32;

    font-family: Arial;
    font-style: italic;
    font-weight: bold;
}

img.puzzle{
    width: 400px;
    height: 200px;
}

img.winner{
    padding: 50px 50px 50px 50px;
}

.gridContainer{
    display: grid;
    grid-template-areas:
    "title title title"
    "gridItem1 lives gridItem2";
}

.gridItem1{
    grid-area: gridItem1;
    width: 100%;
}

.gridItem2{
    grid-area: gridItem2;
    width: 100%;
}

.title{
    grid-area: title;
}

.lives{
    background-color: #000000;
    color: #32cd32;

    grid-area: lives;

    border: solid;

    width: 100px;
    margin: auto;
}

/*Interactive CSS*/
@media(prefers-reduced-motion: no-preference){
    img.winner{
        animation: winner-move infinite 5s linear;
        border-radius: 20px;
    }
    header h1#title{
        animation: title-pulse infinite 2s linear;
    }
}

@keyframes winner-move{
    0% {
        transform: translate(-50px);
    }
    50% {
        transform: translate(50px);
    }
    100% {
        transform: translate(-50px);
    }
}

@keyframes title-pulse{
    0%{
        color: #000000;
    }
    50%{
        color: #FFFFFF;
    }
    100%{
        color: #000000;
    }
}