.ideMain{
    background-color: #33AABB;
    color: #000000;

    font-family: Helvetica;
    font-weight: bold;

    border: solid;
    border-color: #000000;
    border-radius: 45px;

    text-align: center;
    margin: auto;
    width: 450px;
}

.fontPuzzle{
    font-family: Helvetica;
    font-style: italic;
}

div.ideMain button.buttonRed{
    background-color: #000000;
    color: #FF0000;

    font-family: Arial;
    font-style: italic;
    font-weight: bold;

    border-radius: 25px;
}

div.ideMain button.buttonGreen{
    background-color: #000000;
    color: #32cd32;

    font-family: Arial;
    font-style: italic;
    font-weight: bold;

    border-radius: 25px;
}

.buttonBlue{
    background-color: #000000;
    color: #0000FF;

    font-family: Arial;
    font-style: italic;
    font-weight: bold;

    border-radius: 25px;
}

.buttonYellow{
    background-color: #000000;
    color: #FFFF00;

    font-family: Arial;
    font-style: italic;
    font-weight: bold;

    border-radius: 25px;
}

.buttonOrange{
    background-color: #000000;
    color: #FF7700;

    font-family: Arial;
    font-style: italic;
    font-weight: bold;

    border-radius: 25px;
}

img.puzzle{
    border-radius: 45px;
    width: 400px;
    height: 200px;
}

@media(prefers-reduced-motion: no-preference){
    img.winner{
        animation: winner-spin infinite 5s linear;
        border-radius: 45px;
    }
}

@keyframes winner-spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);

    }
}

.gridContainer{
    display: grid;
    grid-template-areas:
    "title title title"
    "gridItem1 lives gridItem2";
}

.gridItem1{
    grid-area: gridItem1;
    width: 100%;
}

.gridItem2{
    grid-area: gridItem2;
    width: 100%;
}

.title{
    grid-area: title;
}

.lives{
    background-color: #000000;
    color: #32cd32;

    grid-area: lives;

    border: solid;
    border-radius: 45px;
}