.ideMain{
    background-color: #33AABB;
    color: #000000;

    font-family: Helvetica;
    font-weight: bold;

    border: solid;
    border-color: #000000;
    border-radius: 45px;

    text-align: center;
}

.fontPuzzle{
    font-family: Helvetica;
    font-style: italic;
}

.buttonRed{
    background-color: #000000;
    color: #FF0000;

    font-family: Arial;
    font-style: italic;
    font-weight: bold;

    border-radius: 25px;
}

.buttonGreen{
    background-color: #000000;
    color: #32cd32;

    font-family: Arial;
    font-style: italic;
    font-weight: bold;

    border-radius: 25px;
}

.buttonBlue{
    background-color: #000000;
    color: #0000FF;

    font-family: Arial;
    font-style: italic;
    font-weight: bold;

    border-radius: 25px;
}

.buttonYellow{
    background-color: #000000;
    color: #FFFF00;

    font-family: Arial;
    font-style: italic;
    font-weight: bold;

    border-radius: 25px;
}

.buttonOrange{
    background-color: #000000;
    color: #FF7700;

    font-family: Arial;
    font-style: italic;
    font-weight: bold;

    border-radius: 25px;
}

.gridContainer{
    display: grid;
    grid-template-areas:
    "title title title"
    "gridItem1 lives gridItem2";
}

.gridItem1{
    grid-area: gridItem1;
    width: 100%;
}

.gridItem2{
    grid-area: gridItem2;
    width: 100%;
}

.title{
    grid-area: title;
}

.lives{
    grid-area: lives;

    border: solid;

    color: #32cd32;
    background-color: #000000;

    border-radius: 45px;
}