header{
    background-color: #33AABB;
    color: #000000;

    font-family: Helvetica;
    font-weight: bold;

    border: solid;
    border-color: #000000;

    text-align: center;
    margin: auto;
    width: 450px;
}
main{
    background-color: #33AABB;
    color: #000000;

    font-family: Helvetica;
    font-weight: bold;

    border: solid;
    border-color: #000000;

    text-align: center;
    margin: auto;
    width: 450px;
}

.fontPuzzle{
    font-family: Helvetica;
    font-style: italic;
}

main ol{
    margin: auto;
    width: 150px;
}

/*Button code.*/
main button.buttonRed{
    background-color: #000000;
    color: #FF0000;

    font-family: Arial;
    font-style: italic;
    font-weight: bold;

}

main button.buttonGreen{
    background-color: #000000;
    color: #32cd32;

    font-family: Arial;
    font-style: italic;
    font-weight: bold;
}

main button.buttonBlue{
    background-color: #000000;
    color: #0000FF;

    font-family: Arial;
    font-style: italic;
    font-weight: bold;

}

main button.buttonYellow{
    background-color: #000000;
    color: #FFFF00;

    font-family: Arial;
    font-style: italic;
    font-weight: bold;

}

main button.buttonOrange{
    background-color: #000000;
    color: #FF7700;

    font-family: Arial;
    font-style: italic;
    font-weight: bold;

}

img.puzzle{
    width: 400px;
    height: 200px;
}

img.winner{
    padding: 50px 50px 50px 50px;
}

/*Interactive CSS*/
@media(prefers-reduced-motion: no-preference){
    img.winner{
        animation: winner-move infinite 5s linear;
        border-radius: 20px;
    }
}

@keyframes winner-move{
    0% {
        transform: translate(-50px);
    }
    50% {
        transform: translate(50px);
    }
    100% {
        transform: translate(-50px);
    }
}

.gridContainer{
    display: grid;
    grid-template-areas:
    "title title title"
    "gridItem1 lives gridItem2";
}

.gridItem1{
    grid-area: gridItem1;
    width: 100%;
}

.gridItem2{
    grid-area: gridItem2;
    width: 100%;
}

.title{
    grid-area: title;
}

.lives{
    background-color: #000000;
    color: #32cd32;

    grid-area: lives;

    border: solid;

    width: 100px;
    margin: auto;
}